/* font setting */
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.noto-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}



/* shared style */
.display-flex{
  display: flex;
}
.bg-light{
  background-color:#FFFFFF;
}
.dar-1{
 color:#000000;
}
.dark-2{
 color:rgba(0, 0, 0, 0.5);
}
.dark-3{
color:#111111 ;
}
.dark-4{
  color: #E95A08;
}

.btn-primary{
background-color:#E95A08;
font-size: 1rem;
font-weight:600 ;
color: #FFFFFF;
padding: 26px 50px;
border-radius: none;
border: none;
}




/* nav section */

.navbar{
  justify-content: space-between;
  align-items: center;
  
}

.nav-item{
  list-style:none ;
  margin-right: 50px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1280px;
  margin: 0 auto;
}
.dark-5{
  color: #252432;
}
.dark-6{
  color: #8987A1;
}
.logo-img{
  width: 135px;
  height: 82px;
}



/* nav responsive part */
@media screen and (max-width:576px) {
  .navbar{
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-between;
    width: 100%;
    /* box-sizing: border-box; */
    align-items: center;

  }
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3){
    display: none;
  }
  .logo-img{
    width: 65px;
    height: 35px;
  }
}



  /* banner section start */
 .banner{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 120px;
 
  height: 461px;
 
 }
 .banner-content{
  width: 50%;
  height:auto;
  margin-bottom: 0;
 }
 .banner-profile-picture{
  width: 50%;
  height:365px;
 }
  .banner-title{
    font-size: 4rem;
    font-weight:700;
    margin-bottom: 10px;
  }
  .banner-description{
    font-size:1.25rem;
    font-weight: 400;
    max-width: 570px;
    height: auto;
    margin-bottom: 0;
  }


  /* banner responsive part */
  @media screen and (max-width:576px) {
    .banner{
      flex-direction: column-reverse;
      margin: 0 20px;
      padding: 0 20px;
    }
    .banner-profile-picture{
     width: 100%;
    }
    .banner-content{
      width: 100%;
    }
    .banner-title{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .banner-description{
      font-size: 0.85rem;
      font-weight: 400;
    }
  }

