/* font setting */
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.noto-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}



/* shared style */
.display-flex{
  display: flex;
}
.bg-light{
  background-color:#FFFFFF;
}
.dar-1{
 color:#000000;
}
.dark-2{
 color:rgba(0, 0, 0, 0.5);
}
.dark-3{
color:#111111 ;
}
.dark-4{
  color: #E95A08;
}

.btn-primary{
background-color:#E95A08;
font-size: 1rem;
font-weight:600 ;
color: #FFFFFF;
padding: 26px 50px;
border-radius: none;
border: none;
width: 100%;
}
.btn-primary:hover{
  background-color:tomato;
}
.navbar, .banner,.plant-section,
.plants-lover-section,
.latest-deal-section{
  max-width: 1280px;
  margin: 0 auto;
}



/* nav section */

.navbar{
  justify-content: space-between;
  align-items: center;
  
}

.nav-item{
  list-style:none ;
  margin-right: 50px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.dark-5{
  color: #252432;
}
.dark-6{
  color: #8987A1;
}
.logo-img{
  width: 135px;
  height: 82px;
}



/* nav responsive part */
@media screen and (max-width:576px) {
  .navbar{
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-between;
    width: 100%;
    /* box-sizing: border-box; */
    align-items: center;

  }
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3){
    display: none;
  }
  .logo-img{
    width: 65px;
    height: 35px;
  }
}



  /* banner section start */
 .banner{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 120px;
  height: 461px;
 
 }
 .banner-content{
  width: 50%;
  height:auto;
  margin-bottom: 0;
 }
 .banner-profile-picture{
  width: 50%;
  height:365px;
 }
  .banner-title{
    font-size: 4rem;
    font-weight:700;
    margin-bottom: 10px;
  }
  .banner-description{
    font-size:1.25rem;
    font-weight: 400;
    max-width: 570px;
    height: auto;
    margin-bottom: 0;
  }


  /* banner responsive part */
  @media screen and (max-width:576px) {
    .banner{
      flex-direction: column-reverse;
      margin: 0 20px;
      padding: 0 20px;
    }
    .banner-profile-picture{
     width: 100%;
    }
    .banner-content{
      width: 100%;
    }
    .banner-title{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .banner-description{
      font-size: 0.85rem;
      font-weight: 400;
    }
  }

/* plan section start */
.plant-content{
  text-align: center;
  margin-top: 120px;
}
.plant-title{
  font-size: 3.12rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.plant-description{
  font-size: 1.45rem;
  font-weight: 400;
  margin-bottom: 50px;
  max-width:888px ;
  margin-left: auto;
  margin-right: auto;
}
.plant-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 30px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.plant-card{
  background-color: white;
  border-radius: 8px;
  padding: 15px;

}
.plant-card img{
  width: 100%;
  border-radius: 6px;
}
.card-title{
  font-size: 1.4rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 20px;
}
.price{
  font-size: 1.4rem;
  font-weight:700;
  color: #111111;
  margin-bottom: 30px;
}
/* plant section responsive */
@media screen and (max-width:576px) {
  .plant-section{
    margin: 0 20px;
    
    text-align: center;
  }
  .plant-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
  .plant-title{
    font-size: 1.5rem;
  }
  .plant-description{
    font-size:0.75rem ;
  }
  .btn-primary{
    padding: 10px 0;
    font-size: 0.75rem;
  }
}

/* plants lover section start */

.flower-container{
  display: flex;
  align-items: flex-start;
  gap: 60px;
  margin: 0 auto;
  margin-top: 210px;
  height: auto;
 
  background-color: rgba(255, 255, 255, 0.475);

}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
#badge{
  height: 270px;
  width: 270px;
  position: absolute;
  top: -120px;
  right: -100px;
  animation: spin 5s linear infinite;
}
.flower-image-part{
  position: relative;
  flex: 1;
  width: 50%;
}
.flower-img{
  width: 100%;
  height: auto;
}
.flower-content{
  width: 50%;
  margin-top: 30px;
  flex: 1;
}
.flower-title{
  font-size: 4.12rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.flower-description{
  padding-left: 20px ;
}
.list-item{
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* plants lover section responsive */
@media screen and (max-width:576px) {
  .flower-container{
    flex-direction: column;
    margin: 0 20px;
    margin-top: 40px;
  }
  #badge{
    display: none;
  }
  .flower-img{
    width: 100%;
  }
  .flower-image-part{
  width: 100%;
  margin-bottom:20px ;

  }
  .flower-content{
  width: 100%;
  }
  .flower-title{
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.list-item{
  font-size: .75rem;
  line-height: 1;
  margin-bottom: 15px;
 }
}
/* latest deal section */

.deals-content{
  text-align: center;
  margin-top: 130px;
}
.deals-title{
  font-size: 3.12rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.deals-sub-title{
  font-size: 1.45rem;
  font-weight: 400;
  margin-bottom: 145px;
  max-width:888px ;
  margin-left: auto;
  margin-right: auto;
}
/* deals card section */

.deals-card-container{
  display: flex;
  gap: 20px;
  
  justify-content: space-between;
  align-items: stretch;
  
  
}
 .deals-left-card-container{
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  width: 35%;
 
 }
.deals-left-card-1{
  background-image: url(/images/deal-bloom.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
 
}
.deals-left-card-2{
   background-image: url(/images/deal-ana.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.deals-right-card{
  width: 65%;
}
.deal-card{
  background-image: url(/images/deal-zabo.png);
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  height: 100%;
  min-height: 420px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.deals-card-title{
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.deals-card-para{
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
}
.right-card-font{
  font-size:2.5rem ;
  margin-bottom:5px ;
 
}
.right-card-font-para{
  font-size: 1.75rem;
}
/* latest deal section responsive */
@media screen and (max-width:576px) {
  .deals-card-container{
    flex-direction: column ;
  }
    .deals-left-card-container,
    .deals-right-card{
    width: 100%;
  }
  .deals-left-card-1, .deals-left-card-2{
    height: 180px;
  }
  .deal-card{
    height: 180px;
    min-height: unset;
  }
  .right-card-font{
    font-size: 1.25rem;
  }
  .right-card-font-para{
    font-size: 1rem;
  }
  .latest-deal-section{
    margin: 0 20px;
  }
 
}

/* join section start */
.join-section{
  margin: 0;
  padding: 0;
  margin-top: 100px;
  background-image: url(/images/news-letter-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.join-title{
  font-size: 4.12rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom:20px ;
}
.subscribe-form{
  display: flex;
  justify-content: center;
  max-width: 830px;
  margin: auto;
}
.subscribe-form input[type="email"]{
  width: 70%;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.5) ;
  border: none;
  outline: none;
}
.subscribe-form button{
width: 30%;
}
/* join section responsive */
@media screen and (max-width:576px) {
  .join-title{
    font-size: 1.25rem;
  }
}
/* footer section start */
footer{
  background-color: #FFFFFF;
  padding: 50px 25px;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  max-width: 1280px;
  margin:  auto;
  align-items: start;
  
}
.footer-logo{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-links{
  display:flex;
 justify-content: center;
  gap: 40px;
  
 
}
.footer-social{
  display: flex;
  justify-content:flex-end;
  align-items: flex-start;
  gap: 24px;
  
}
.footer-logo-img{
  width:135px ;
  
}
.footer-description{
  font-size:1.4rem;
  font-weight: 400;
  max-width: 350px;
}
.footer-links ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;

}
.footer-links li{
  font-size: 0.85rem;
  font-weight: 400;
  color: rgba(107, 114, 128, 1);
  
  
}
.footer-social img{
  width: 36px;
  height: 36px;
}
/* footer part responsive */
@media screen and (max-width:576px) {
  footer{
    margin: 0 20px;
  }
  .footer-social{
    justify-content: flex-start;
  }
  .footer-container{
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: left;
  }
  .footer-links{
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
   
  }
  .footer-links ul{
    padding-left: 0;
  }
}